<div id="<%= dom_id host %>">
  <p>
    <strong>Datacenter:</strong>
    <%= host.datacenter_id %>
  </p>

  <p>
    <strong>Ram:</strong>
    <%= host.ram %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= host.storage %>
  </p>

  <p>
    <strong>Bandwidth:</strong>
    <%= host.bandwidth %>
  </p>

  <p>
    <strong>Pe count:</strong>
    <%= host.pe_count %>
  </p>

</div>
