<div id="<%= dom_id vm %>">
  <p>
    <strong>Datacenter:</strong>
    <%= vm.datacenter_id %>
  </p>

  <p>
    <strong>Mips:</strong>
    <%= vm.mips %>
  </p>

  <p>
    <strong>Ram:</strong>
    <%= vm.ram %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= vm.storage %>
  </p>

  <p>
    <strong>Bandwidth:</strong>
    <%= vm.bandwidth %>
  </p>

</div>
