<p style="color: green"><%= notice %></p>

<%= render @vm %>

<div>
  <%= link_to "Edit this vm", edit_vm_path(@vm) %> |
  <%= link_to "Back to vms", vms_path %>

  <%= button_to "Destroy this vm", @vm, method: :delete %>
</div>
