
  <td>
<%= simulation_result.cloudlet_id %>
  </td>

  <td>
  <%= simulation_result.vm_id %>
  </td>

  <td>
  <%= simulation_result.datacenter_id %>
  </td>

  <td>
<%= simulation_result.execution_time %>
  </td>

  <td>
<%= simulation_result.cpu_utilization %>
  </td>

  <td>
<%= simulation_result.ram_utilization %>
  </td>

  <td>
<%= simulation_result.bw_utilization %>
  </td>

  <td>
<%= simulation_result.storage_utilization %>
  </td>

  <td>
  <%= simulation_result.cost %>
  </td>

  <td>
    <%= simulation_result.sla_breach_cost %>
  </td>

  <td>
<%= simulation_result.cpu_breach %>
  </td>

  <td>
<%= simulation_result.ram_breach %>
  </td>

  <td>
<%= simulation_result.bw_breach %>
  </td>

  <td>
    <%= simulation_result.execution_time_breach %>
  </td>

  <td>
    <%= simulation_result.datacenter_cpu_cost %>
  </td>

  <td>
    <%= simulation_result.datacenter_ram_cost %>
  </td>

  <td>
    <%= simulation_result.datacenter_storage_cost %>
  </td>

  <td>
    <%= simulation_result.datacenter_bw_cost %>
  </td>

  <td>
    <%= simulation_result.vm_cpu_cores %>
  </td>

  <td>
<%= simulation_result.vm_ram %>
  </td>

  <td>
<%= simulation_result.vm_storage %>
  </td>

  <td>
<%= simulation_result.vm_bw %>
  </td>

  <td>
<%= simulation_result.vm_mips %>
  </td>

  <td>
<%= simulation_result.cloudlet_length %>
  </td>

  <td>
<%= simulation_result.cloudlet_pes %>
  </td>

  <td>
    <%= simulation_result.cloudlet_file_size %>
  </td>

  <td>
    <%= simulation_result.cloudlet_output_size %>
  </td>

  <td>
  <%= simulation_result.host_id %>
  </td>

  <td>
    <%= simulation_result.host_cpu_cores %>
  </td>

  <td>
<%= simulation_result.host_ram %>
  </td>

  <td>
<%= simulation_result.host_storage %>
  </td>

  <td>
<%= simulation_result.host_bw %>
  </td>

  <td>
<%= simulation_result.host_mips %>
  </td>

  <td>
  <%= link_to "Show", simulation_result, class: "btn btn-primary btn-sm" %>
  </td>


