<div id="<%= dom_id cloudlet %>" class="d-flex justify-content-center shadow-lg">
  <div class="card shadow-sm" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Cloudlet Details</h5>
      <p class="card-text">
        <strong>Length:</strong>
        <%= cloudlet.length || "N/A" %>
      </p>
      <p class="card-text">
        <strong>File Size:</strong>
        <%= cloudlet.file_size || "N/A" %>
      </p>
      <p class="card-text">
        <strong>Output Size:</strong>
        <%= cloudlet.output_size || "N/A" %>
      </p>
      <p class="card-text">
        <strong>Workload Type:</strong>
        <%= cloudlet.workload_type || "N/A" %>
      </p>
    </div>
  </div>
</div>