<div id="<%= dom_id cloudlet %>">
  <p>
    <strong>Length:</strong>
    <%= cloudlet.length %>
  </p>

  <p>
    <strong>File size:</strong>
    <%= cloudlet.file_size %>
  </p>

  <p>
    <strong>Output size:</strong>
    <%= cloudlet.output_size %>
  </p>

  <p>
    <strong>Workload type:</strong>
    <%= cloudlet.workload_type %>
  </p>

</div>
