<%= form_with(model: cloudlet) do |form| %>
  <% if cloudlet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cloudlet.errors.count, "error") %> prohibited this cloudlet from being saved:</h2>

      <ul>
        <% cloudlet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.number_field :length %>
  </div>

  <div>
    <%= form.label :file_size, style: "display: block" %>
    <%= form.number_field :file_size %>
  </div>

  <div>
    <%= form.label :output_size, style: "display: block" %>
    <%= form.number_field :output_size %>
  </div>

  <div>
    <%= form.label :workload_type, style: "display: block" %>
    <%= form.text_field :workload_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
