<div id="<%= dom_id datacenter %>">
  <p>
    <strong>Name:</strong>
    <%= datacenter.name %>
  </p>

  <p>
    <strong>Num hosts:</strong>
    <%= datacenter.num_hosts %>
  </p>

  <p>
    <strong>Pe mips:</strong>
    <%= datacenter.pe_mips %>
  </p>

  <p>
    <strong>Ram:</strong>
    <%= datacenter.ram %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= datacenter.storage %>
  </p>

  <p>
    <strong>Bandwidth:</strong>
    <%= datacenter.bandwidth %>
  </p>

  <p>
    <strong>Scheduling policy:</strong>
    <%= datacenter.scheduling_policy %>
  </p>

  <p>
    <strong>Power model:</strong>
    <%= datacenter.power_model %>
  </p>

  <p>
    <strong>Latency:</strong>
    <%= datacenter.latency %>
  </p>

  <p>
    <strong>Topology:</strong>
    <%= datacenter.topology %>
  </p>

  <p>
    <strong>Bandwidth policy:</strong>
    <%= datacenter.bandwidth_policy %>
  </p>

  <p>
    <strong>Storage type:</strong>
    <%= datacenter.storage_type %>
  </p>

  <p>
    <strong>Cpu cost:</strong>
    <%= datacenter.cpu_cost %>
  </p>

  <p>
    <strong>Ram cost:</strong>
    <%= datacenter.ram_cost %>
  </p>

  <p>
    <strong>Storage cost:</strong>
    <%= datacenter.storage_cost %>
  </p>

  <p>
    <strong>Bw cost:</strong>
    <%= datacenter.bw_cost %>
  </p>

  <p>
    <strong>Power usage:</strong>
    <%= datacenter.power_usage %>
  </p>

  <p>
    <strong>Idle power:</strong>
    <%= datacenter.idle_power %>
  </p>

  <p>
    <strong>Autoscaling:</strong>
    <%= datacenter.autoscaling %>
  </p>

</div>
